 body {
            font-family: Arial, sans-serif;
            background: #f3f3f3;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
             background: linear-gradient(rgb(127, 74, 1), rgb(60, 35, 0));
        }

        h2{
            padding-left: 130px;
            color: rgb(115, 67, 0);
        }
        .container {
            background: white;
            padding: 20px;
            width: 350px;
            border-radius: 10px;
            box-shadow: 0 0 10px #aaa;
            border: solid 2px rgb(115, 67, 0);
        }

        input, button {
            width: 100%;
            padding: 2px;
            padding-right: 1px;
            margin-top: 10px;
        }

        button {
            background: linear-gradient(rgb(115, 67, 0), rgb(85, 50, 0));
            color: white;
            border: none;
            cursor: pointer;
            transition: 0.3s;
        }

        button:hover {
            background:  linear-gradient( rgb(84, 49, 0), rgb(61, 37, 0));
             transform: scale(1.1);
        }
