@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

/* titulos da barbearia*/
.title-urbancut {
    font-family: 'Don Graffiti', sans-serif !important;
    font-size: 5rem;
    font-weight: normal;
    color: #f5e3c3; /* bege suave combinando com o logo */
    text-shadow: 4px 4px 8px #000;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 2px;
}

/* estilização da header */
header{
    background-color:  #2b1503;
    border-bottom: 1px solid #f5e3c3; 

}

body{
    background-color: #3e2004;
    animation: aparecerSuave 1.5s ease-out;

}

@keyframes aparecerSuave {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* menu */
.nav-bar{
    display: flex;
    justify-content: center;     /* CENTRALIZA O MENU */
    align-items: center;
    padding: 1.5rem 3rem;
    position: relative;          /* permite posicionar o botão */
}

.nav-list ul{
    list-style: none;
    display: flex;
    gap: 1.7rem;                 /* espaço entre itens */
}

.nav-link{
    text-decoration: none;
    color: #f5e3c3;
    font-size: 20px;
}

.nav-link:hover{
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

form{
    margin: 70px;
    color: #f5e3c3;
    border: 2px solid #f5e3c3;
    padding: 60px;
    border-radius: 20px;
}

label{
    font-size: 25px;
}

h2{
    margin-bottom: 35px;
}

p{
    margin-bottom: 35px;
    font-size: 22px;
}

input{
    background-color: #2b1503;
    padding: 8px;
    width: 300px;
    border-radius: 14px;
    border: 2px solid #f5e3c3;
    color: #f5e3c3;
    margin-left: 10px;
    margin-bottom: 15px;
}

button{
    display: block;
    margin: 10px auto;
    height: 60px;
    width: 120px;
    background-color: #f5e3c3;
    font-size: 20px;
    border-radius: 25px;
    border: 2px solid #f5e3c3;
}

button:hover{
    color: #f5e3c3;
    background-color:  #2b1503;
    transform: scale(1.1);
}

input:focus{
    outline: none;
    background-color: #f5e3c3;
    color: #2b1503;
}
