@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* estilização da header */
header{
    background-color:  #2b1503;
    border-bottom: 1px solid #f5e3c3; 

}

body{
    background-color: #3e2004;
    animation: aparecerSuave 1.5s ease-out;

}

@keyframes aparecerSuave {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* menu */
.nav-bar{
    display: flex;
    justify-content: center;     /* CENTRALIZA O MENU */
    align-items: center;
    padding: 1.5rem 3rem;
    position: relative;          /* permite posicionar o botão */
}

.nav-list ul{
    list-style: none;
    display: flex;
    gap: 1.7rem;                 /* espaço entre itens */
}

.nav-link{
    text-decoration: none;
    color: #f5e3c3;
    font-size: 20px;
}

.nav-link:hover{
    color: white;
}


.Conjunto{
    margin-top: 15px;
    padding: 80px;
    color: #f5e3c3;
}

.tituloBarber{
    margin-bottom: 50px;
}

.barbearia1 h2{
    margin-bottom: 10px;
}

.barbearia1 h3{
    margin-bottom: 10px;
}

.barbearia1 li{
    margin-bottom: 8px;
}

.barbearia1 .subtitulo{
    margin-top: 15px;
}

.titulo2{
    margin-top: 45px;
}

.titulo3{
    margin-top: 45px;
}

