@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

label{
    display:block;
    color: #f5e3c3;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: 5px;
}

p{
    color: #f5e3c3;
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 25px;
}

select{
    padding: 5px;
    margin-left: 15px;
    background-color: #2b1503;
    color: #f5e3c3;
    border-radius: 12px;
    border: 2px solid #f5e3c3;
    cursor: pointer;
}

input{
    padding: 5px;
    margin-left: 15px;
    background-color: #2b1503;
    color: #f5e3c3;
    border-radius: 12px;
    border: 2px solid #f5e3c3;
    cursor: pointer;
}

button{
    display: block;
    margin: 10px auto;
    height: 60px;
    width: 150px;
    border-radius: 20px;
    font-size: 16px;
    background-color:#f5e3c3;
    color:#2b1503;
    border: 2px solid #2b1503;
    cursor: pointer;

}

.time-input {
    height: 20px;
    padding-right: 40px; /* espaço pro ícone */
    padding-left: 10px;
    font-size: 20px;
    background: #2b1503 url("../ROOT/templates/icone.png") no-repeat right 10px center;
    background-size: 24px;
    color: #f5e3c3;
    border: 2px solid #f5e3c3;
    border-radius: 12px;
    outline: none;
}

/* Remove o relógio nativo */
.time-input::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none;
}

/* Estiliza o placeholder "--:--" */
.time-input::-webkit-datetime-edit-fields-wrapper {
    color: #f5e3c3;
}

.time-input::-webkit-datetime-edit-text {
    color: #f5e3c3;
}

.time-input::-webkit-datetime-edit-hour-field,
.time-input::-webkit-datetime-edit-minute-field {
    color: #f5e3c3;
}

.time-input::-webkit-datetime-edit-ampm-field {
    color: #f5e3c3;
}

/* INPUT DE DATA COM ÍCONE PERSONALIZADO */
.date-input {
    height: 38px;
    padding-left: 12px;
    padding-right: 40px; /* espaço para o ícone */
    font-size: 20px;
    color: #f5e3c3;
    background: #2b1503 url("icone-data.png") no-repeat right 10px center;
    background-size: 24px;
    border: 2px solid #f5e3c3;
    border-radius: 12px;
    outline: none;
    position: relative; /* ESSENCIAL */
    box-sizing: border-box;
}

/* Deixa o indicador nativo clicável, mas invisível */
.date-input::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 10px;    /* MESMO valor usado no background */
    top: 50%;
    transform: translateY(-50%);
    width: 28px;    /* área de clique */
    height: 28px;
    opacity: 0;     /* invisível */
    cursor: pointer;
}

button{
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    padding: 8px;
    background-color: #f5e3c3;
    font-size: 18px;
    color: #2b1503;
    border: none;
    cursor: pointer;
    transition: transform 0.8s ease;;
    margin-top: 25px;
}

button:hover{
    color: #f5e3c3;
    background-color:  #2b1503;
    transform: scale(1.1);
}

