<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban Cut - Funcionário</title>
    <link rel="stylesheet" href="../CadastroFuncionario.css">
</head>

<body>


     <header>
        <nav class="nav-bar">
            <div class="nav-list">
                <ul>
                    <li><a href="home.html" class=nav-link>Home</a></li>
                    <li><a href="Cliente.jsp" class="nav-link">Cliente</a></li>
                    <li><a href="Barbeiro.jsp" class="nav-link">Barbeiro</a></li>
                    <li><a href="ConfigurandoHorarios.jsp" class="nav-link">Horários</a></li>
                    <li><a href="CadastroEstabelecimento.html" class="nav-link">Estabelecimento</a></li>
                    <li><a href="ListagemdoEstabelecimento.html" class="nav-link">Estabelecimento</a></li>
                    <li><a href="PaginaAgendamento.html" class="nav-link">Agendamento</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <form>
            <form name="cadastrar_cliente" method="post" action="#">
                <!-- FORMULÁRIO DE CADASTRO -->
                    <h2>Cadastro</h2>

                    <form name="cadastro">
                        <label>Nome:</label>
                        <input type="text" name="nome" placeholder="Digite seu nome completo">
                        <label>Email:</label>
                        <input type="email" name="email" placeholder="Digite seu email">
                        <label>Senha:</label>
                        <input type="password" name="senha" placeholder="Digite sua senha">
                        <button type="submit">Cadastrar</button>
                        <span class="erro">Mensagem de erro</span>
                    </form>

                <!-- FORMULÁRIO DE LOGIN -->

                    <form name="login" method="post" action="#">

                        <h2>Login</h2>
                        <label>Email:</label>
                        <input type="email" name="email" placeholder="Digite seu email">
                        <label>Senha:</label>
                        <input type="password" name="senha" placeholder="Digite sua senha">
                        <button type="submit">Entrar</button>
                        <span class="erro">Mensagem de erro</span>
                    </form>
                </div>
            </div>

</body>

</html>