<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban Cut - Cliente</title>
</head>
<body>
    
    <section>

        <h2>Barbearias disponíveis</h2>

        <section>
            
            <section>
                <h2>Nome da barbearia</h2>
                <!-- pode deixar o tamanho das letras das listas pequenas -->
                <ul>
                    <h3>Atendemos nos seguintes dias:</h3>
                    <li>Segunda-feira: 00:00 às 00:00</li>
                    <li>Terça-feira: 00:00 às 00:00</li>
                    <li>Quarta-feira: 00:00 às 00:00</li>
                </ul>
                <ul>
                    <h3>Endereço</h3>
                    <li>Estado - Cidade</li>
                    <li>Logradouro, Número, Complemento</li>
                </ul>
            </section>
            <section>
                <h2>Nome da barbearia</h2>
                <ul>
                    <h3>Atendemos nos seguintes dias:</h3>
                    <li>Segunda-feira: 00:00 às 00:00</li>
                    <li>Terça-feira: 00:00 às 00:00</li>
                    <li>Quarta-feira: 00:00 às 00:00</li>
                </ul>
                <ul>
                    <h3>Endereço</h3>
                    <li>Estado - Cidade</li>
                    <li>Logradouro, Número, Complemento</li>
                </ul>
            </section>
            <section>
                <h2>Nome da barbearia</h2>
                <ul>
                    <h3>Atendemos nos seguintes dias:</h3>
                    <li>Segunda-feira: 00:00 às 00:00</li>
                    <li>Terça-feira: 00:00 às 00:00</li>
                    <li>Quarta-feira: 00:00 às 00:00</li>
                </ul>
                <ul>
                    <h3>Endereço</h3>
                    <li>Estado - Cidade</li>
                    <li>Logradouro, Número, Complemento</li>
                </ul>
            </section>

        </section>

    </section>

</body>
</html>