<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban Cut - Barbeiro</title>
</head>
<body>

    <section>

        <h2>Resumo do dia</h2>

        <!-- 
        
            A estrutura abaixo é um modelo a ser seguido!
            Pense que será uma lista com vários deste item

        -->
        <section>
            <section>
                <p><span>00:00</span> Nome do cliente</p>
            </section>
            <section>
                <p><span>00:00</span> Nome do cliente</p>
            </section>
            <section>
                <p><span>00:00</span> Nome do cliente</p>
            </section>
            <section>
                <p><span>00:00</span> Nome do cliente</p>
            </section>
        </section>

    </section>
    
</body>
</html>